article{
    padding: 1rem;
    background-color: rgb(98, 7, 138);
    color: white;
    margin: 20px;
    border-radius: 12px;
}
h2{
    margin: 0 0 8px 0;
    font-size: 28px;
}
p{
    margin-bottom: 12px;
}
button{
    float: right;
    cursor: pointer;
    background-color: #4E56C0;
    padding: 0.25rem 0.5rem;
    color: white;
    font-size: 16px;
    border-radius: 12px;
    margin-bottom: 8px;
}